{% extends 'form.html' %}
{% load static %}
{% block assets_form %}
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap-touchspin-4.2.5/css/jquery.bootstrap-touchspin.css' %}"/>
    <script src="{% static 'lib/bootstrap-touchspin-4.2.5/js/jquery.bootstrap-touchspin.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4.5.37.0/js/tempusdominus-bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/tempusdominus-bootstrap-4.5.37.0/css/tempusdominus-bootstrap.css' %}"/>
    <script src="{% static 'payroll/js/form.js' %}"></script>
{% endblock %}

{% block form_fields %}
<div class="row g-3">
    <div class="col-md-6 col-lg-4">
        <label class="form-label fw-bold">{{ form.dni.label }}</label>
        {{ form.dni }}
    </div>
    <div class="col-md-6 col-lg-8">
        <label class="form-label fw-bold">{{ form.names.label }}</label>
        {{ form.names }}
    </div>
    <div class="col-md-6 col-lg-4">
        <label class="form-label fw-bold">{{ form.email.label }}</label>
        {{ form.email }}
    </div>
    <div class="col-md-6 col-lg-4">
        <label class="form-label fw-bold">{{ form.phone.label }}</label>
        {{ form.phone }}
    </div>
    <div class="col-md-6 col-lg-4">
        <label class="form-label fw-bold">{{ form.address.label }}</label>
        {{ form.address }}
    </div>
    <div class="col-md-6 col-lg-4">
        <label class="form-label fw-bold">{{ form.birth_date.label }}</label>
        {{ form.birth_date }}
    </div>
    <div class="col-md-6 col-lg-4">
        <label class="form-label fw-bold">{{ form.contract_type.label }}</label>
        {{ form.contract_type }}
    </div>
    <div class="col-md-6 col-lg-4">
        <label class="form-label fw-bold">{{ form.salary.label }}</label>
        {{ form.salary }}
    </div>
    <div class="col-md-6 col-lg-4">
        <label class="form-label fw-bold">{{ form.start_date.label }}</label>
        {{ form.start_date }}
    </div>
    <div class="col-md-6 col-lg-4">
        <label class="form-label fw-bold">{{ form.retire_date.label }}</label>
        {{ form.retire_date }}
    </div>
    <div class="col-md-6 col-lg-4">
        <label class="form-label fw-bold">{{ form.eps.label }}</label>
        {{ form.eps }}
    </div>
    <div class="col-md-6 col-lg-4">
        <label class="form-label fw-bold">{{ form.afp.label }}</label>
        {{ form.afp }}
    </div>
    <div class="col-md-6 col-lg-4">
        <label class="form-label fw-bold">{{ form.arl.label }}</label>
        {{ form.arl }}
    </div>
    <div class="col-md-6 col-lg-4">
        <label class="form-label fw-bold">{{ form.caja_compensacion.label }}</label>
        {{ form.caja_compensacion }}
    </div>
    
    <div class="mb-4">
        <!-- SWITCHES -->
        <div class="col-md-4 d-flex justify-content-between align-items-center">
            <label class="form-check-label fw-bold me-2 mb-0" for="{{ form.social_security.id_for_label }}">{{ form.social_security.label }}</label>
            <div class="form-check form-switch mb-0">
                {{ form.social_security }}
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-between align-items-center">
            <label class="form-check-label fw-bold me-2 mb-0" for="{{ form.is_active.id_for_label }}">{{ form.is_active.label }}</label>
            <div class="form-check form-switch mb-0">
                {{ form.is_active }}
            </div>
        </div>
    </div>

    <div class="col-md-4 col-lg-4">
        <label class="form-label fw-bold">{{ form.image.label|upper }}</label>
        {{ form.image }}
    </div>
</div>



{% endblock %}