{% extends 'body.html' %}
{% load static %}
{% block assets %}
    <script src="{% static 'lib/highcharts-9.1.1/highcharts.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/highcharts-9.1.1/highcharts-3d.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/highcharts-9.1.1/modules/exporting.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/highcharts-9.1.1/modules/data.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/highcharts-9.1.1/modules/drilldown.js' %}" type="text/javascript"></script>
{% endblock %}

{% block breadcrumb_item %}

{% endblock %}

{% block content %}
    
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3 class="font-weight-bolder" id="recaudos-hoy">$0</h3>

                <p>Ventas totales hoy</p>
              </div>
              <div class="icon">
                <i class="fas fa-money-check-dollar"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3 class="font-weight-bolder" id="ventas-hoy">0</h3>

                <p>Cant. ventas hoy</p>
              </div>
              <div class="icon">
                <i class="fas fa-shopping-cart"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-warning">
              <div class="inner text-white">
                <h3 class="font-weight-bolder" id="ventas-semana">$0</h3>

                <p>Total ventas semanal</p>
              </div>
              <div class="icon">
                <i class="fas fa-user-plus"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3 class="font-weight-bolder" id="producto-mas-vendido">0</h3>

                <p>Producto mas vendido</p>
              </div>
              <div class="icon">
                <i class="fas fa-arrow-trend-up"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
        </div>

    <div class="container-fluid p-0">
        <div class="row gx-2">
            <div class="col-lg-6">
                <div id="container" class="card p-3 mt-2" style="border-radius: 20px;"></div>
            </div>
            <div class="col-lg-6">
                <div id="container-pie" class=" card p-3 mt-2" style="border-radius: 20px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card p-4" style="border-radius: 20px;">
                    <h4 class="font-weight-bold text-center mb-3">
                        <i class="fas fa-shopping-cart"></i> Las 10 últimas ventas realizadas
                    </h4>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Número</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Fecha de registro</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col">IVA</th>
                            <th scope="col">Descuento</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sale in sales %}
                            <tr>
                                <td>{{ sale.id }}</td>
                                <td>{{ sale.client }}</td>
                                <td>{{ sale.date_joined }}</td>
                                <td>{{ sale.get_subtotal_without_taxes|floatformat:2 }}</td>
                                <td>{{ sale.total_iva|floatformat:2 }}</td>
                                <td>{{ sale.total_dscto|floatformat:2 }}</td>
                                <td>{{ sale.total|floatformat:2 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        var chart = {
            getSalesYearMonth: function () {
                $.ajax({
                    url: pathname,
                    data: {
                        'action': 'get_graph_sales_year_month'
                    },
                    type: 'POST',
                    dataType: 'json',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    success: function (request) {
                        if (!request.hasOwnProperty('error')) {
                            Highcharts.chart('container', {
                                chart: {
                                    type: 'column'
                                },
                                exporting: false,
                                title: {
                                    text: 'Reporte de ventas del año {{ date_joined.year }}'
                                },
                                subtitle: {
                                    text: ''
                                },
                                xAxis: {
                                    categories: [
                                        'Enero',
                                        'Febrero',
                                        'Marzo',
                                        'Abril',
                                        'Mayo',
                                        'Junio',
                                        'Julio',
                                        'Agosto',
                                        'Septiembre',
                                        'Octubre',
                                        'Noviembre',
                                        'Diciembre'
                                    ],
                                    crosshair: true
                                },
                                yAxis: {
                                    min: 0,
                                    title: {
                                        text: ''
                                    }
                                },
                                tooltip: {
                                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                        '<td style="padding:0"><b>{point.y:.1f} $</b></td></tr>',
                                    footerFormat: '</table>',
                                    shared: true,
                                    useHTML: true
                                },
                                plotOptions: {
                                    column: {
                                        pointPadding: 0.2,
                                        borderWidth: 0
                                    }
                                },
                                series: [{
                                    name: 'Total',
                                    showInLegend: false,
                                    colorByPoint: true,
                                    data: request,
                                    dataLabels: {
                                        enabled: true,
                                        rotation: 0,
                                        color: '#FFFFFF',
                                        align: 'center',
                                        format: '{point.y:.2f}',
                                        y: 50,
                                        style: {
                                            fontSize: '11px',
                                            fontFamily: 'Verdana, sans-serif'
                                        }
                                    }
                                }]
                            });
                            return false;
                        }
                        message_error(request.error);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        message_error(errorThrown + ' ' + textStatus);
                    }
                });
            },
            getSalesProductsYearMonth: function () {
                $.ajax({
                    url: pathname,
                    data: {
                        'action': 'get_graph_sales_products_year_month'
                    },
                    type: 'POST',
                    dataType: 'json',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    success: function (request) {
                        if (!request.hasOwnProperty('error')) {
                            Highcharts.chart('container-pie', {
                                chart: {
                                    plotBackgroundColor: null,
                                    plotBorderWidth: null,
                                    plotShadow: false,
                                    type: 'pie'
                                },
                                exporting: false,
                                title: {
                                    text: 'Total recaudado por producto del mes {{ month }} del año {{ date_joined.year }}'
                                },
                                tooltip: {
                                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                },
                                accessibility: {
                                    point: {
                                        valueSuffix: '%'
                                    }
                                },
                                plotOptions: {
                                    pie: {
                                        allowPointSelect: true,
                                        cursor: 'pointer',
                                        dataLabels: {
                                            enabled: true,
                                            format: '<b>{point.name}</b><br>{point.y:.2f}',
                                            {#distance: -50,#}
                                        }
                                    }
                                },
                                series: [{
                                    'name': 'Porcentaje',
                                    'colorByPoint': true,
                                    'data': request
                                }]
                            });
                            return false;
                        }
                        message_error(request.error);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        message_error(errorThrown + ' ' + textStatus);
                    }
                });
            }
        };
        function fetchVentasHoy() {
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                data: {
                    'action': 'get_sales_total_today'
                },
                success: function (response) {
                    if (!response.error) {
                        const total = parseFloat(response.total).toLocaleString('es-CL', {
                            style: 'currency',
                            currency: 'CLP',
                            minimumFractionDigits: 0,
                            maximumFractionDigits: 0
                        });
                        $('#recaudos-hoy').text(total);
                    } else {
                        console.error('Error:', response.error);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error al obtener las ventas de hoy:', error);
                }
            });
        }
        function ProductoMasVendido() {
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                data: {
                    'action': 'get_product_total_today'
                },
                success: function (response) {
                    if (!response.error) {
                        if (response.product) {
                            // Mostramos el producto y la cantidad
                            const mensaje = `${response.product} (${response.quantity})`;
                            $('#producto-mas-vendido').text(mensaje);
                        } else {
                            $('#producto-mas-vendido').text("No hay ventas hoy");
                        }
                    } else {
                        console.error('Error:', response.error);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error al obtener las ventas de hoy:', error);
                }
            });
        }
        function VentasSemanales() {
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                data: {
                    'action': 'get_sales_total_week'
                },
                success: function (response) {
                    if (!response.error) {
                        $('#ventas-semana').text(response.total + ' ventas');
                    } else {
                        console.error('Error:', response.error);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error al obtener las ventas de hoy:', error);
                }
            });
        }
        function CantVentasHoy() {
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                data: {
                    'action': 'get_sales_count_today'
                },
                success: function (response) {
                    if (!response.error) {
                        $('#ventas-hoy').text(response.count);
                    } else {
                        console.error('Error:', response.error);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error al obtener las ventas de hoy:', error);
                }
            });
        }
        $(function () {
            chart.getSalesYearMonth();
            chart.getSalesProductsYearMonth();
            fetchVentasHoy();
            ProductoMasVendido();
            VentasSemanales();
            CantVentasHoy();
        });
    </script>
{% endblock %}