{% extends 'list.html' %}
{% load static %}
{% block assets_list %}
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap-touchspin-4.2.5/css/jquery.bootstrap-touchspin.css' %}"/>
    <script src="{% static 'lib/bootstrap-touchspin-4.2.5/js/jquery.bootstrap-touchspin.js' %}"></script>
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/spanish.js' %}"></script>
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/daterangepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/bootstrap-daterangepicker-3.1/css/daterangepicker.css' %}"/>
    <script src="{% static 'sale/admin/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <th>Id</th>
    <th>Cliente</th>
    <th>Empleado</th>
    <th>Fecha de registro</th>
    <th>Dscto</th>
    <th>Total</th>
    <th>Método de pago</th>
    <th>Transferencia</th>
    <th>Tipo Servicio</th>
    <th>Opciones</th>
{% endblock %}

{% block javascript_list %}
    <div class="modal fade" tabindex="-1" id="myModalDetail">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold">
                        <i class="fa fa-search"></i> Detalle de la venta
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table style="width:100%;" class="table table-bordered table-sm" id="tblProducts">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                            <th>Dscto</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="myModalEdit">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold">
                        <i class="fa fa-edit"></i> Editar Pago
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formEditSale">
                        <!-- Totales Finales -->
                        <div class="col-12 col-lg-12 card border p-3 ms-auto mb-4">
                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-label fw-bold">{{ sale_form.paymentmethod.label }}:</label>
                                    {{ sale_form.paymentmethod }}
                                </div>
                                <div class="col">
                                    <label class="form-label fw-bold">{{ sale_form.transfermethods.label }}:</label>
                                    {{ sale_form.transfermethods }}
                                </div>
                            </div>
                            
                            <div class="mb-3">
                                <label class="form-label fw-bold">{{ sale_form.total.label|upper }}</label>
                                {{ sale_form.total }}
                            </div>
                            <div class="mb-3">
                                <label class="form-label fw-bold">{{ sale_form.cash.label }}:</label>
                                {{ sale_form.cash }}
                            </div>
                            <div class="mb-3">
                                <label class="form-label fw-bold">{{ sale_form.change.label }}:</label>
                                {{ sale_form.change }}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnSaveEdit">Guardar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content_list %}
    <div class="row">
        <div class="col-lg-5 col-md-12">
            <div class="mb-3">
                <label class="form-label fw-bold">{{ form.date_range.label }}:</label>
                <div class="input-group mb-3">
                    {{ form.date_range }}
                    <button class="btn btn-primary btnSearchAll" type="button" id="button-addon2">
                        <i class="fas fa-calendar-check"></i> Ver todas
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
