{% extends 'form.html' %}
{% load static %}
{% block assets_form %}
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap-touchspin-4.2.5/css/jquery.bootstrap-touchspin.css' %}"/>
    <script src="{% static 'lib/bootstrap-touchspin-4.2.5/js/jquery.bootstrap-touchspin.js' %}"></script>
    <script src="{% static 'productAutoAdd/js/form.js' %}"></script>
{% endblock %}

{% block form_fields %}
<div class="row g-3">
    <div class="col-md-6 col-lg-4">
        <label class="form-label fw-bold">{{ form.trigger_product.label }}</label>
        {{ form.trigger_product }}
    </div>
    <div class="col-md-6 col-lg-4">
        <label class="form-label fw-bold">{{ form.auto_product.label }}</label>
        {{ form.auto_product }}
    </div>
    <div class="col-md-6 col-lg-4">
        <label class="form-label fw-bold">{{ form.quantity.label }}</label>
        {{ form.quantity }}
    </div>
</div>



{% endblock %}